<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276263504125-uqe12adcdcuvcdp59hjcecbpglfu1t1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276263504125-uqe12adcdcuvcdp59hjcecbpglfu1t1u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>276263504125-bo631stqv2eikb4fdb39ra24704f7qo3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9gPkRlaNp4fKHPzipCxF4xcGPVNUOFSw</string>
	<key>GCM_SENDER_ID</key>
	<string>276263504125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSkypeClone</string>
	<key>PROJECT_ID</key>
	<string>skype-clone-cbc50</string>
	<key>STORAGE_BUCKET</key>
	<string>skype-clone-cbc50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276263504125:ios:23c64978c238d7f54cd694</string>
	<key>DATABASE_URL</key>
	<string>https://skype-clone-cbc50.firebaseio.com</string>
</dict>
</plist>